{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}

<link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'website/css/bootstrap-editable.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "website/css/reset.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/officers_members.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/profile.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<div class="content-container">
    <div class="profile-pic-container">
        <img src="/media/{{ up.picture }}" class="circular profile-pic">
        <button class="change-profile-btn btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
              Change Profile Picture
            </button>
        <span class="name">{{ user.first_name }} {{ user.last_name }}</span>
        <span class="user-type">{{ up.get_user_type_display }}</span>
		

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url "myprofile" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Change Profile Picture</h4>
                        </div>
                        <div class="modal-body">
                            {{ profile_pic }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            <input type="submit" value="Upload" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit your Officer Bio</h4>
                    </div>

                    <form action="{% url "myprofile" %}" method="post" >
                        {% csrf_token %}
                        <p><textarea rows="4" cols="50" name="value">{{ up.officer_profile.bio }}</textarea></p>
                        <input type="submit" name="name" value="Submit bio">
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="editInterviews" action="{% url "myprofile" %}" method="post" >
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>  <h4 class="modal-title" id="myModalLabel">Edit the hours you hold technical interviews</h4>  
                        </div>
                        <div class="modal-body"> 
                            <div class="container-fluid">
                                <h4>Your current interview hours</h4>
                                {% for time in slot_times %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span>{{ time.0 }}</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span>{{ time.1 }}</span>                                            
                                        </div>
                                        <div class="col-md-2">
                                            <input type="checkbox" name="hourbox" value="{{ time.2 }},{{ time.3 }}"></input>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row">
                                    <input type="submit" name="name" value="Remove These Hours"> 
                                </div>                                                               
                                <h4>Add new interview hours to host</h4>
                                <div class="row">
                                    <div class="col-md-5">
                                        <span><a href="#" onclick="addModalField()">Add Row</a></span> 
                                    </div>
                                    <div class="col-md-5">
                                        <span><a href="#" onclick="removeModalField()">Remove Row</a></span>   
                                    </div>
                                </div>                                                       
                                <div id="modal-hour-container" class="filters">

                                </div>
                                <input type="submit" name="name" value="Add These Hours">
                            </div>                                                             
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
                        </div>                       
                    </form>            
                </div>
            </div>
        </div>
    </div>

    <div class="personal-info-container">
        <span class="title">Personal <i class="fa fa-user"></i></span>
        <ul>
            <li>
                <label class="attribute"><i class="fa fa-envelope"></i> Email:</label>
                <a href="#"
                    id="email"
                    data-type="text"
                    data-pk="1"
                    data-url="/myprofile/"
                    data-title="Enter email">
                    {{ user.email }}
                </a>
            </li>
            <li>
                <label class="attribute"><i class="fa fa-globe"></i> Website*:</label>
				
                <a href="#"
+                    id="personal_website"
                    data-type="text"
                    data-pk="1"
                    data-url="/myprofile/"
                    data-title="Website">
                    {{ up.personal_website }}
                </a>
			
            </li>
            <li>
                <label class="attribute"><i class="fa fa-linkedin"></i> LinkedIn*:</label>
                <a href="#"
                   id="linkedin"
                   data-type="text"
                   data-pk="1"
                   data-url="/myprofile/"
                   data-title="LinkedIn">
                   {{ up.linkedin }}
               </a>
            </li>
            <li>
                <label class="attribute"><i class="fa fa-github"></i> Github username: http://github.com/</label>
                <a href="#"
                   id="github"
                   data-type="text"
                   data-pk="1"
                   data-url="/myprofile/"
                   data-title="Github">
                   {{ up.github }}
               </a>
            </li>
            {% if up.resume %}
            <li>
                <label class="attribute"><i class="fa fa-file"></i> Resume:</label>
                <span class="resume"
                      data-toggle="modal"
                      data-target="#resume-modal">
                      {{ user.first_name }}'s Resume
                </span>
                <a class="view-resume" target="blank" href="/media/{{ up.resume }}">View</a>
            </li>
            {% else %}
            <li>
                <label class="attribute"><i class="fa fa-file"></i> Resume: <span class="resume" data-toggle="modal" data-target="#resume-modal">none</span></label>
            </li>
            {% endif %}
			
			      {% if up.get_user_type_display == "Officer" %}
		        <li><i class="fa fa-comment"></i> Officer Bio: <a href = "#" data-toggle="modal" data-target="#myModal2">
              Edit</a>
            </li>
		        {% endif %}
            {% if up.can_interview %}
            <li><i class="fa fa-comment"></i> Technical Interviews <a href = "#" data-toggle="modal" data-target="#myModal3" onclick="resetModalForm()">
              Edit Hours</a>
            </li>
            {% endif %}
                <!-- <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#resume-modal">
                  Upload New Resume
                </button> -->
            <li> 
		        *Note: Include http:// or https:// before the urls
            </li>       
         </ul>
    </div>
    <div class="academic-info-container">
        <span class="title">Academic <i class="fa fa-bank"></i></span>
        <ul>
            <li>
                <label class="attribute"><i class="fa fa-graduation-cap"></i> Graduation Year:</label>
                <a href="#" id="grad_year">{{ up.get_grad_year_display }}</a>
            </li>
            <li>
                <label class="attribute"><i class="fa fa-group"></i> Joined UPE:</label>
                <a href="#" id="year_joined">{{ up.get_year_joined_display }}</a>
            </li>
        </ul>

        <div class="modal fade" id="resume-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="{% url "myprofile" %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Upload a new resume</h4>
              </div>
              <div class="modal-body">
                  {{ resume_upload }}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  <input type="submit" value="Upload" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static "website/js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "website/js/bootstrap.min.js" %}"></script>
<script src="{% static "website/js/bootstrap-editable.js" %}"></script>
<script src="{% static "website/js/profile.js" %}"></script>
{% endblock %}